# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    sudo apt-get update -y
    sudo apt-get install -y jq
    echo "Converting secret.json to .env file using jq..."
    jq -r 'to_entries[] | "\(.key)=\(.value|tostring)"' secret.json > config.env
    echo "Generated config.env:"
    cat config.env
  displayName: 'Run a multi-line script'